<%- include('partials/head')%>

    <%- include('partials/navbar')%>

    <h1>About Us</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum in quos cum, ab labore neque optio numquam enim placeat animi molestias ea, repudiandae laborum sed ipsa ad ex porro reiciendis!
    Maxime cumque voluptatem veritatis. Perspiciatis fuga dignissimos ducimus odit, quidem modi, ipsa atque consequatur doloremque nemo iure labore sed rem exercitationem laboriosam dolores eius, maiores tenetur et obcaecati minus! Aperiam.
    Quas dolor quidem asperiores temporibus vero veniam consectetur ad doloremque, saepe exercitationem excepturi consequuntur aut aliquam dicta numquam reprehenderit eos hic adipisci sint iste molestiae maiores suscipit? Fugit, neque officiis.
    Iusto distinctio expedita modi optio. Iste inventore suscipit odit porro, quia aliquam obcaecati beatae officia vitae ipsam nam dolor. Suscipit placeat, laborum similique officiis totam omnis. Ullam sed porro deserunt?
    Magni error laudantium explicabo. Reprehenderit placeat temporibus nobis voluptas pariatur esse, commodi, quo, sunt tempora excepturi repellendus reiciendis. Unde fugiat nemo delectus commodi animi nesciunt quis totam, mollitia molestias repellendus.</p>

    <%- include('partials/footer') %>