<%- include('partials/head')%>

    <%- include('partials/navbar')%>

        <h1>Welcome!</h1>

        <img src="https://www.strainly.io/system/images/m47mZyfwnxictWSd0SPYHg/medium/5E516092-3842-4483-9A18-4D489B18989A.png" alt="logo" class="img-thumbnail">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus debitis sed
            corrupti enim obcaecati sunt! Perferendis rerum, quod optio similique, earum
            harum iure eos magnam laudantium id delectus iste numquam?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus debitis sed
            corrupti enim obcaecati sunt! Perferendis rerum, quod optio similique, earum
            harum iure eos magnam laudantium id delectus iste numquam?</p>

            <div class="col-sm-12 align-center"><a href="/products" class="btn btn-b btn-round">View All Products</a></div>

        <%- include('partials/footer') %>